<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="javascript/script.js"></script>

</head>
<body class="background-colour" id="editAccount">
<nav th:replace="fragments/header.html :: navbar"></nav>
<div class="container">
    <h1 class="editAccountHeading">Edit Account</h1>
    <div>
        <form id="addAuthorForm" th:action="@{/changePassword/{id}(id=${account.userId})}" method="post">

            <div class="mb-3">
                <label>New Password</label>
                <input type="password" name="newPassword" class="form-control" id="newPassword" required>
            </div>

            <div class="mb-3">
                <label>Confirm Password</label>
                <input type="password" name="confirmNew" class="form-control" required oninput="checkNewPass(this)"/>
            </div>

            <div class="mb-3">
                <label>Role</label>
                <select name="role" id="userRole" class="form-control">
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>
<script type="text/javascript">
    function checkNewPass(confirmPass){
        if(confirmPass.value != $("#newPassword").val()){
            confirmPass.setCustomValidity("Password Don't match");
        } else {
            confirmPass.setCustomValidity("");
        }
    }
</script>
</body>
</html>