<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body class="background-colour" id="genre-body">
<nav th:replace="fragments/header.html :: navbar"></nav>

<div class="container">
    <h1 id="genreHeading">Genres</h1>

    <div id="addGenre" class="text-center">
        <button class="btn btn-primary"><a th:href="@{/addGenre}">Add Genre</a></button>
    </div>
    <br>
    <div id="genreList">
        <table id="genreTable" class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col" id="tableHeader1Genre">Genre</th>
                <th scope="col" id="tableHeader2Genre">Modify</th>
            </tr>
            </thead>
            <tbody class="tbody-light">
            <tr th:each="genre: ${genres}">
                <td th:text="${genre.genreName}"></td>
                <td><a th:href="@{/editGenre/{id}(id=${genre.genreId})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/deleteGenre/{id}(id=${genre.genreId})}" class="btn btn-primary">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
    </div>
</div>


</body>
</html>